<%= turbo_frame_tag @book, :publication do %>
  <div class="flex flex-column gap margin-block-start pad fill-shade border-radius">
    <div class="flex flex-column align-center gap txt-medium">
      <div id="public_link_label" class="flex align-center gap justify-center">
        <strong>Publication link</strong>
      </div>
      <p class="txt-align-center">Your book slug always follows the title.</p>
      <p class="txt-align-center">Rename the book title to change the link.</p>
      <p class="txt-align-center">
        Current link:
        <%= link_to book_slug_url(@book), book_slug_url(@book), data: { turbo_frame: "_top" } %>
      </p>
      <div class="flex align-center gap margin-inline margin-block-start">
        <%= link_to edit_book_path(@book), class: "btn btn--positive flex-item-justify-end", data: { turbo_frame: "_top" } do %>
          <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
          <span>Rename Book</span>
        <% end %>

        <%= link_to book_slug_path(@book), class: "btn flex-item-justify-start" do %>
          <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Back</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
