<% cache book do %>
  <figure class="library__book <%= "theme--#{book&.theme}" unless book_has_uploaded_cover?(book) %>">
    <div class="flex flex-column gap-half">
      <div class="flex-inline position-relative center">
        <%= image_tag book_cover_image(book), alt: "Book cover", class: "book__cover" %>
        <%= turbo_frame_tag dom_id(book, :bookmark), src: book_bookmark_path(book), target: "_top" %>
      </div>
      <h2 class="margin-none flex flex-column txt-normal txt-tight-lines txt-medium--responsive">
        <strong><%= book.title %></strong>
        <span class="overflow-line-clamp"><%= book.author %></span>
      </h2>
      <small><%= book.category.name %></small>
      <% if book.tags.any? %>
        <small class="overflow-line-clamp"><%= book.tag_names.join(", ") %></small>
      <% end %>
    </div>
  </figure>
<% end %>
