<% content_for(:title) { "Library | Chapterwan" } %>
<% @layout_class = "books" %>

<% content_for :header do %>
  <nav>
    <span class="btn btn--placeholder" aria-hidden="true"></span>

    <a href="https://once.com/chapterwan" class="product__wordmark btn btn--plain txt-large center" target="_blank">
      <%= image_tag "chapterwan-icon.svg", aria: { hidden: true }, size: 24 %>
      <span>Chapterwan</span>
    </a>

    <% if Current.user %>
      <%= link_to users_path, class: "btn" do %>
        <%= image_tag "settings.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Manage people and settings</span>
      <% end %>
    <% else %>
      <%= link_to new_session_path, class: "btn" do %>
        <%= image_tag "login-keys.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Sign in</span>
      <% end %>
    <% end %>
  </nav>
<% end %>

<% cache [ @books, signed_in? ] do %>
  <div class="pad">
    <%= form_with url: root_path, method: :get, local: true, class: "flex gap align-center" do |form| %>
      <%= form.label :category_id, "Filter by category" %>
      <%= form.select :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), { include_blank: "All" }, { class: "input" } %>
      <%= form.submit "Filter", class: "btn" %>
    <% end %>
  </div>

  <% if @popular_books.any? %>
    <section class="pad">
      <h3 class="txt-large">Most Read</h3>
      <div class="library">
        <%= render @popular_books %>
      </div>
    </section>
  <% end %>

  <div class="library">
    <%= render @books %>
    <%= render "books/new" if signed_in? %>
  </div>
<% end %>
